<!DOCTYPE html>
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CCHEN_FichaMedica_Web.SiteMaster" %>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title> CCHEN - Ficha Médica</title>

<link rel="icon" type="images/png" href="favicon.ico" />


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<script src="/_base/js/jquery.min.js" type="text/javascript"></script>     
<script src="/_base/js/bootstrap.js" type="text/javascript"></script> 
<script src="/_base/js/modernizr.js" type="text/javascript"></script> 
<script src="/_base/js/jquery.scrollto.min.js" type="text/javascript"></script> 
<script src="/_base/js/smooth_scroll.js" type="text/javascript"></script> 
<script src="/_base/js/a11y.js" type="text/javascript"></script> 
<script src="/_base/js/backstretch.js" type="text/javascript"></script> 
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />     
<link href="/css/smooth_scroll.css" rel="stylesheet" type="text/css" /> 
<link href="/css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"  />
<link href="/css/style.css?SyncToken=1" rel="stylesheet" type="text/css"  />
<link href="/css/a11y.css" rel="stylesheet" type="text/css"  />
<link href="/css/a11y-toolbar.css" rel="stylesheet" type="text/css"  />
<link href="/css/a11y-fontsize.css" rel="stylesheet" type="text/css"  />
<script type="text/javascript">    var a11y_stylesheet_path = "/css/a11y-contrast.css"; </script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"  type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("li").click(function (event) {
////                event.preventDefault();
                if ($("li").hasClass('active')) {
                    $("li").removeClass('active');
                }
                $(this).addClass('active');
            });

            var loc = window.location.href; //This will give you the current URL
            var filename = loc.substring(loc.lastIndexOf('/') + 1, loc.length); // THIS WILL GIVE U D CURRENT PAGE NAME
            $(".nav a").removeClass("active");
            //// $(".nav a").removeClass("disabled");
            $(".nav a[href*='" + decodeURIComponent(filename.replace(/\+/g, " ")) + "']").parent().addClass("active");
            $(".nav a[href*='" + decodeURIComponent(filename.replace(/\+/g, " ")) + "']").parent().addClass("disabled");
        });

    </script>
   	
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/js/html5shiv.js"></script> 
<script src="/js/respond.min.js"></script>
<script src="/js/css3-mediaqueries.js"></script>
<![endif]-->



</head>


	
<body class="inside cat-urbanismo">

<div class="a11y-toolbar ltr">
	<ul>
		<li>
			<a href="#" role="button" class="a11y-toggle-contrast toggle-contrast" id="is_normal_contrast" title="Contraste">
				<span class="offscreen">Toggle High Contrast</span>
				<span class="aticon aticon-adjust" aria-hidden="true"/>
			</a>
		</li>
		<li>
			<a href="#" role="button" class="a11y-toggle-fontsize toggle-fontsize" id="is_normal_fontsize" title="Fuente">
				<span class="offscreen">Toggle Font size</span>
				<span class="aticon aticon-font" aria-hidden="true"/>
			</a>
		</li>
	</ul>
</div>
<!-- /////////////////////////
********** HEADER ************
///////////////////////// --> 
<!-- menu principal -->
<nav class="navbar nav-minvu navbar-default header-site" role="navigation">  
  <div class="container">	
  <div class="navbar-header">



  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<h1 class="title"> 
			<a href="../home.aspx" class="navbar-brand" sl-processed="1"> Sistema de Registro Clínico</a>
		</h1>
		<br />
		<h2 class="cat-app-minvu cat-title default-title">Comisión Chilena de Energía Nuclear</h2>
		<br />
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    
      <ul class="nav navbar-nav" id="idul" runat="server">
		<li id="idlihome" runat="server" visible="true"><a href="../home.aspx">Inicio</a></li>
		<li id="idlicita" runat="server" visible="false"><a href="../cita/cita.aspx">Cita</a></li>
		<li id="idliregcli" runat="server" visible="false"><a href="../registroclinico/registroclinico.aspx" >Registro Clínico</a></li> 

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario: <asp:Label ID="lblUsuario" runat="server" Text=""></asp:Label></b><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Rol: <asp:Label ID="lblRol" runat="server" Text=""></asp:Label></a></li>
          <%--<li><a href="#" data-toggle="modal" data-target="#modal_creditos" title="Créditos del sistema">Créditos</a></li>--%>
          <%--<li class="divider"></li>--%>
          <li><a href="../Salir.aspx">Salir <asp:Label ID="lblSalir" runat="server" Text="" ></asp:Label></a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>	
</nav>




<!-- /////////////////////////
********** CONTENIDO ********
///////////////////////// --> 
<div id="content" class="container clearfix" <%--style="background-image: url('/images/atencion-medica.jpg');  width: 50%;--%>">

<div id="menu" class="menu_sub"></div>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="MainContent" runat="server">    </asp:ContentPlaceHolder>

</div>	<!-- fin de .content -->	



<!-- /////////////////////////
********** FOOTER ************
///////////////////////// -->
 <!-- begin footer -->
<footer class="footer-site" role="contentinfo">
	<div class="container clearfix">


<div class="col-md-15 address-footer info-footer ">				
				<ul>
					<li class="address-f">
					<h2 class="minvu-name">
					Centro Estudio Nucleares La Reina
					</h2>
					<p>
					 Avda. Nueva Bilbao Nº 12.501, Santiago, Chile
					<br>
					Mesa Central: (56-2) 23646100
					<br>
					 
					<br>
					 <br>
<%--                    <div class="year-info"> 
                        <asp:Label ID="lblAnno" runat="server" Text="Label"></asp:Label> 
                        <asp:Label ID="lblVersion" runat="server" Text="Label"></asp:Label></div>--%>
					</p>
 
					</li>
					<li>
					<a href="http://www.cchen.cl" target="_blank" title="ir a CCHEN"><img src="/images/cchen-logo-footer.png" alt="Logo minvu"></a>
					</li>
				</ul>					
			</div>											
	</div> <!-- end #inner-footer -->
</footer> 
<!-- end footer -->

<a href="#" class="scrollup" style="display: inline;">Scroll</a>


</body>
</html>